<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/usc.png">
    <!--<title>Signin Template for Bootstrap</title>-->

    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static',filename='styles/bootstrap-4.0.0/dist/css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{url_for('static',filename='styles/signin.css')}}" rel="stylesheet">
  </head>
    <body style="width:100%;background:url('static/homepage copy.jpg');background-size: cover;">

  <body class="text-center">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.12.0/firebase.js"></script>


    <form class="form-signin">
      <a href='signup' class="btn btn-lg btn-primary btn-block btn-outline-secondary">Sign Up</a>
      <a href='signin' class="btn btn-lg btn-primary btn-block btn-outline-secondary">Sign In</a>
    </form>
  </body>
</body>
  </html>

</html>