<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="usc.png">

    <title>Your Profile</title>

    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static',filename='styles/bootstrap-4.0.0/dist/css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{url_for('static',filename='styles/profile.css')}}" rel="stylesheet">
  </head>

  <body class="bg-light">
    <p>hi: {{session.username}}</p>
    <div class="container">
      <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="/static/usc.png" alt="" width="72" height="72">
        <h2>Your Profile</h2>
        <p class="lead">You can easily edit your profile here!</p>
 
      </div>

        <div class="col-md-8 order-md-1">

          <h4 class="mb-3">Personal Information</h4> 

              {% from "includes/_formhelpers.html" import render_field %}

              <form method = "POST" action = "" class ="needs-validation">
                  <div class = 'mb-3'>
                    {{render_field(form.email,class_="form-control")}}
                  </div>

                  <div class = 'mb-3'>
                    {{render_field(form.name,class_="form-control")}}
                  </div>

                  <div class = 'mb-3'>
                    {{render_field(form.Cur_Pwd ,class_="form-control")}}
                  </div>

                  <div class = 'mb-3'>
                    {{render_field(form.New_pwd1 ,class_="form-control")}}
                  </div>

                  <div class = 'mb-3'>
                    {{render_field(form.New_pwd2 ,class_="form-control")}}
                  </div>

                  <div class = 'mb-3'>
                    {{render_field(form.Tut_info ,class_="form-control")}}
                  </div>

                  <div class = 'mb-3'>
                    {{render_field(form.Stu_info ,class_="form-control")}}
                  </div>

                  <hr class="mb-4">
                  <p><input class="btn btn-lg btn-primary btn-block" type="submit" value="Submit"></p>
              </form>
        </div>
      </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../bootstrap-4.0.0/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../bootstrap-4.0.0/assets/js/vendor/popper.min.js"></script>
    <script src="../bootstrap-4.0.0./dist/js/bootstrap.min.js"></script>
    <script src="../bootstrap-4.0.0/assets/js/vendor/holder.min.js"></script>
    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';

        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');

          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script>
  </body>
</html>
