<!DOCTYPE html>
<html>
  <head>
    <title>USC Tutor Finder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="{{url_for('static',filename='styles/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='styles/css/styles.css')}}" rel="stylesheet">
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.12.0/firebase.js"></script>
    
  </head>
  <body style="width:100%;background:url('static/reset_pwd.jpg');background-size: cover;">
  	<script>
  		function confirmRST(){
  			var newPWD=document.getElementById("new").value;
  			var oldPWD=document.getElementById("old").value;
  			var conPWD=document.getElementById("confirm").value;
  			if(newPWD.length<8 || oldPWD.length<8 || conPWD.length<8){
  				alert("Old, new and confirming password must contain 8 characters at least")
  			}
  			else{
  				$.post("/restPWD", {"oldPWD": oldPWD,"newPWD":newPWD,"conPWD":conPWD,"my":"{{session.username}}"},function(data)
			      {
			        if (data=="fail"){
			          alert("Reset failed, please check your input");
			        }
			        else{
			          alert("Reset done");
			        }
			      });
  			}
  		}


  $(document).on('click', '#show', function() {
	//$('#password').get(0).type = 'text';

    if ($('#old').get(0).type == "password") {

        	$('#old').get(0).type = 'text';
         	$('#new').get(0).type = 'text';
          	$('#confirm').get(0).type = 'text';
    } else {
        	$('#old').get(0).type = 'password';
         	$('#new').get(0).type = 'password';
          	$('#confirm').get(0).type = 'password';
    }
	});

  	</script>


  <body class="login-bg">
  	<div class="header">
	     <div class="container">
	        <div class="row">
	           <div class="col-md-12">
	              <div class="logo">
	                 <h1><a href="#">USC Tutor Finder</a></h1>
	              </div>
	           </div>
	        </div>
	     </div>
	</div>

	<div class="page-content container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<div class="login-wrapper">
			        <div class="box">
			            <div class="content-wrap">
			                <h6>Reset Password</h6>
			                <input class="form-control" type="password" placeholder="Old Password" id="old">
		
			                <input class="form-control" type="password" placeholder="New Password" id="new">
	
			                <input class="form-control" type="password" placeholder="Confirm Password" id="confirm">
							<input type="checkbox" id='show'>Show Password
			                <div class="action">
			                    
			                    <a class="btn btn-primary signup" href="/profile" >Return to profile</a>
			                    <a class="btn btn-primary signup" onclick="confirmRST()">Reset</a>
			                </div>                
			            </div>
			        </div>
			    </div>
			</div>
		</div>
	</div>
<script type="text/javascript">



</script>

  </body>
</body>
</html>