<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="{{url_for('static',filename='styles/bootstrap-4.0.0/dist/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='styles/navbar-top.css')}}" rel="stylesheet">

  </head>

  <body>
    <p> hi: {{session.username}}</p>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.12.0/firebase.js"></script>

  <script>
    function getQuery(){

    }
  //var query = document.getElementById('search').value;
        $.ajax({
            type: "GET",
            url: "/searchItem/{\"query\":\"0 INF\"}",
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            success: function(data) {
                disp(data);
            }
        });
        function disp(jsons){
            var i;
            for (i = 0; i < jsons.length; i++) { 
                var element=document.getElementById("disp");

                var para=document.createElement("p");
                var node=document.createTextNode("courseID: "+jsons[i].courseID);
                para.appendChild(node);
                element.appendChild(para);

                var para=document.createElement("p");
                var node=document.createTextNode("courseInstructors: "+jsons[i].courseInstructors);
                para.appendChild(node);
                element.appendChild(para);

                var para=document.createElement("p");
                var node=document.createTextNode("courseName: "+jsons[i].courseName);
                para.appendChild(node);
                element.appendChild(para); 
                
                var br=document.createElement("br");
                var j;
                var tutorDIV=document.createElement("div");
                var p=document.createElement("p");
                var node=document.createTextNode("Tutors available: ");
                tutorDIV.appendChild(br);
                p.appendChild(node);
                tutorDIV.appendChild(p)
                for(j=0;j<jsons[i].willToTutor.length;j++){
                  var checkBox = document.createElement("input");
                  var label = document.createElement("label");
                  checkBox.id="tutor0"+jsons[i].willToTutor+jsons[i].courseID+jsons[i].courseInstructors;
                  checkBox.type = "checkbox";
                  checkBox.value = jsons[i].willToTutor[j];
                  tutorDIV.appendChild(checkBox);
                  tutorDIV.appendChild(label);
                  label.appendChild(document.createTextNode(jsons[i].willToTutor[j]));
                }
                para.appendChild(tutorDIV);
                element.appendChild(para);
                element.appendChild(br);

                var willing=document.createElement("div");
                var p=document.createElement("p");                
                var willCheck = document.createElement("input");
                var label = document.createElement("label");
                willCheck.type = "checkbox";
                willCheck.id="will0"+jsons[i].courseID+jsons[i].courseInstructors;
                willCheck.onclick = function(){
                    alert(willCheck.id);
                };               
                willing.appendChild(willCheck);
                willing.appendChild(label);
                label.appendChild(document.createTextNode("Willing to tutor this course?"));
                willing.appendChild(br);  
                para.appendChild(willing);
                element.appendChild(para);
                element.appendChild(br);
            }
        }

  </script>
      <nav id = "grad" class="w-90 p-1 navbar navbar-expand-lg navbar-light bg-light border-bottom">

      <a class="navbar-brand" href="/">Tutor Finder</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="profile">Profile <span class="sr-only">(current)</span></a>
          </li>

        </ul>
        <div class="col-md-4 col-md-offset-3">
        <!--form class="search-form"-->
              <div class="form-group has-feedback">
              <input type="text" class="form-control" name="search" id="search" placeholder="Search">
              <button  onclick="getQuery()" type="submit">Searching</button>
              </div>
        <!--/form-->
      </div>
      </div>
    </nav>

    <main role="main" class="container-fluid">
      <div>
        <h2>Search Results</h2>
        
      </div>
    </main>
    <div class="container">
      <div id="disp" class="jumbotron mt-3">        
      </div>
    </div>
      
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>

  </body>
</html>
