<!DOCTYPE html>
<html>
 <head> 
  <title>USC Tutor Finder</title> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script> 
  <link href="{{url_for('static',filename='styles/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" /> 
  <link href="{{url_for('static',filename='styles/jquery.dataTables.min.css')}}" rel="stylesheet" /> 
  <link href="{{url_for('static',filename='styles/css/styles.css')}}" rel="stylesheet" /> 
  <script src="https://www.gstatic.com/firebasejs/4.12.0/firebase.js"></script> 
  <script type="text/javascript" src="{{ url_for('static', filename='styles/bootstrap/js/jquery-1.12.4.js') }}"></script> 
  <script type="text/javascript" src="{{ url_for('static', filename='styles/bootstrap/js/jquery.dataTables.min.js') }}"></script> 
  <style type="text/css">
    tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }
    tfoot {
    display: table-header-group;
    }
    </style> 
 </head> 
 <body style="background-color:  #EDF1FA;"> 
  <script>
$(document).ready(function() {
    $('#example tfoot th').each(function() {
        var title = $(this).text();
        $(this).html('<input type="text" placeholder="Search ' + title + '" />');
    });
    var table = $('#example').DataTable();
    table.columns().every(function() {
        var that = this;
        $('input', this.footer()).on('keyup change',
        function() {
            if (that.search() !== this.value) {
                that.search(this.value).draw();
            }
        });
    });
});

function tutorAdd(a) {
    console.log(a.id);
    console.log(a.value);
    $.post("/tutorAdd", {"courseInf": a.id,"tutorEmail":a.value,"my":"{{session.username}}"},function(data)
    {
        if (data=="fail"){
          alert("Finding tutor failed");
        }
        else{
          alert("You are paired with "+a.value+" in "+a.id);
        }
    });
}
function willAdd(a) {
    console.log(a.id);
    console.log(a.checked);
    if (a.checked==true){
      $.post("/willAdd", {"courseInf": a.id,"my":"{{session.username}}"},function(data)
      {
        if (data=="fail"){
          alert("You're already a tutor in this course");
        }
        else{
          alert("You are now a tutor");
        }
      });
    }
}
function disp1(jsons) {
    var father = document.getElementById("disp");
    var thead = document.createElement("thead");
    var trhead = document.createElement("tr");

    var thhead1 = document.createElement("th");
    var node1 = document.createTextNode("Course ID");
    thhead1.appendChild(node1);
    var thhead2 = document.createElement("th");
    var node2 = document.createTextNode("Instructor(s)");
    thhead2.appendChild(node2);
    var thhead3 = document.createElement("th");
    var node3 = document.createTextNode("Course Name");
    thhead3.appendChild(node3);

    var thhead4 = document.createElement("th");
    var node4 = document.createTextNode("Tutors Available");
    thhead4.appendChild(node4);
    trhead.appendChild(thhead1);
    trhead.appendChild(thhead2);
    trhead.appendChild(thhead3);
    trhead.appendChild(thhead4);
    thead.appendChild(trhead);

    var element = document.createElement("tbody");
    element.id = "courseData";
    var i;
    for (i = 0; i < jsons.length; i++) {
        var eachDIV = document.createElement("tr");
        eachDIV.id = jsons[i].courseID + "_" + jsons[i].courseInstructors
        var para = document.createElement("td");
        var node = document.createTextNode(jsons[i].courseID);
        para.appendChild(node);
        eachDIV.appendChild(para);

        var para = document.createElement("td");
        if (jsons[i].courseInstructors == "") {
            var node = document.createTextNode("TBA");
        } else {
            var node = document.createTextNode(jsons[i].courseInstructors.substring(0, 30));
        }
        para.appendChild(node);
        eachDIV.appendChild(para);

        var para = document.createElement("td");
        var node = document.createTextNode(jsons[i].courseName.substring(0, 35));
        para.appendChild(node);
        eachDIV.appendChild(para);

        var para = document.createElement("td");
        var x = document.createElement("SELECT");
        x.setAttribute("id", jsons[i].courseID + "_" + jsons[i].courseInstructors);
        document.body.appendChild(x);
        var z = document.createElement("option");
        var t = document.createTextNode("Not selected");
        z.appendChild(t);
        document.getElementById(jsons[i].courseID + "_" + jsons[i].courseInstructors).appendChild(z);
        for (var j = 0; j < jsons[i].willToTutor.length; j++) {
            var z = document.createElement("option");
            var t = document.createTextNode(jsons[i].willToTutor[j]);
            z.setAttribute("id", jsons[i].willToTutor[j] + "_" + jsons[i].courseID + "_" + jsons[i].courseInstructors);
            z.appendChild(t);
            document.getElementById(jsons[i].courseID + "_" + jsons[i].courseInstructors).appendChild(z);

        }
        x.setAttribute("onchange", "tutorAdd(this)");
        para.appendChild(x);
        eachDIV.appendChild(para);

        var willing=document.createElement("div");
        var p=document.createElement("p");                
        var willCheck = document.createElement("input");
        var label = document.createElement("label");
        willCheck.type = "checkbox";
        willCheck.id="will"+"_"+jsons[i].courseID+"_"+jsons[i].courseInstructors;
        willCheck.onclick = function(){
            willAdd(this);
        };               
        willing.appendChild(willCheck);
        willing.appendChild(label);
        label.appendChild(document.createTextNode("Willing to tutor this course?"));
        para.appendChild(willing);
        eachDIV.appendChild(para);
        element.appendChild(eachDIV);
    }

    var tfoot = document.createElement("tfoot");
    var trhead = document.createElement("tr");
    var thhead1 = document.createElement("th");
    var node1 = document.createTextNode("Course ID");
    thhead1.appendChild(node1);
    var thhead2 = document.createElement("th");
    var node2 = document.createTextNode("Instructor(s)");
    thhead2.appendChild(node2);
    var thhead3 = document.createElement("th");
    var node3 = document.createTextNode("Course Name");
    thhead3.appendChild(node3);
    var thhead4 = document.createElement("th");
    var node4 = document.createTextNode("Tutors Available");
    thhead4.appendChild(node4);
    trhead.appendChild(thhead1);
    trhead.appendChild(thhead2);
    trhead.appendChild(thhead3);
    trhead.appendChild(thhead4);
    tfoot.appendChild(trhead);

    var table = document.createElement("table");
    table.id = "example";
    table.className = "table table-striped table-bordered dt-responsive nowrap";
    table.style = "width:100%";
    table.appendChild(thead);
    table.appendChild(tfoot);
    table.appendChild(element);

    father.appendChild(table);
    $(document).ready(function() {
        $('#example tfoot th').each(function() {
            var title = $(this).text();
            $(this).html('<input type="text" placeholder="Search ' + title + '" />');
        });
        var table = $('#example').DataTable();

    $("div#example_wrapper div#example_filter label input").on('keydown',function(ev) {
      if (ev.keyCode == 13) {
        var s = $("div#example_wrapper div#example_filter label input").val();
        console.log(s);
        upHist(this.value);

      }
    });

        table.columns().every(function() {
            var that = this;

            $('input', this.footer()).on('keydown',
            function(ev) {
                if (ev.keyCode == 13) {
                    console.log(this.value)
                    that.search(this.value).draw();
                }
            });
        });
    });
    //var hid = document.getElementById("example_filter");
    //hid.style.visibility = "hidden";
}
$.ajax({
    type: "GET",
    url: "/searchItem/{\"query\":\"0 INF\"}",
    contentType: "application/json; charset=utf-8",
    dataType: 'json',
    success: function(data) {
        disp1(data);
    }
});
function upHist(data){
    $.post("/upHist", {"upHist": data,"user":"{{session.username}}"})
}
  </script> 
  <div class="header" style="background-color: rgb(64,124,170);"> 
   <div class="container"> 
    <div class="row"> 
     <div class="col-md-4"> 
      <!-- Logo --> 
      <div class="logo"> 
       <h1><a href="/">USC Tutor Finder</a></h1> 
      </div> 
     </div> 
     <div class="col-md-3"> 
      <div class="col-md-7"> 
       <form action="/hms/accommodations" method="GET"> 
       </form> 
      </div> 
     </div> 
     <div class="col-md-2" style="float: right;"> 
      <div class="navbar navbar-inverse" role="banner"> 
       <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation"> 
        <ul class="nav navbar-nav"> 
         <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{session.username}}@usc.edu <b class="caret"></b></a> 
          <ul class="dropdown-menu animated fadeInUp"> 
           <li><a href="profile">Profile</a></li> 
           <li><a href="signout">Signout</a></li> 
          </ul> </li> 
        </ul> 
       </nav> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <div role="main" class="page-content container-fluid"> 
   <div class="container"> 
    <div id="disp" class="jumbotron mt-3"> 
     <!--<p> Hi, {{session.username}}@usc.edu</p>--> 
    </div> 
   </div> 
  </div> 
  <footer style="position:fixed; bottom:0;height:40px;width: 100%;background-color: rgb(64,124,170);"> 
   <div class="text-center">
     Copyright 2018 
    <a href="#">USC Tutor Finder</a> 
   </div> 
  </footer>    
 </body>
</html>