<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="{{url_for('static',filename='styles/bootstrap-4.0.0/dist/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='styles/navbar-top.css')}}" rel="stylesheet">

  </head>

  <body>
    <p> hi: {{session.username}}</p>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.12.0/firebase.js"></script>
  <!--<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>-->

  <script>
    var user;
    url = window.location.href;
    user=(url.split("=")[1]);
    $(function () {
      $("#search").keydown(function (e) {
        if (e.keyCode == 13) {
          a=writeUserData();

          return false;
        }
      });
    });

function writeUserData(query) {
  var query = document.getElementById('search').value;
  //alert(query);
  $.ajax({
    type: "GET",
    url: "/searchItem",
    data:String(query)
});

}
  </script>
      <nav id = "grad" class="w-90 p-1 navbar navbar-expand-lg navbar-light bg-light border-bottom">

      <a class="navbar-brand" href="/">Tutor Finder</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="profile">Profile <span class="sr-only">(current)</span></a>
          </li>

        </ul>
        <div class="col-md-4 col-md-offset-3">
        <!--form class="search-form"-->
              <div class="form-group has-feedback">
              <input type="text" class="form-control" name="search" id="search" placeholder="Search">
              </div>
        <!--/form-->
      </div>
      </div>
    </nav>

    <main role="main" class="container-fluid">
      <div >
        <h2>Search Results</h2>
        
      </div>
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>

  </body>
</html>
